body {
    background: hsl(198, 20%, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p{
    font-size: x-small;
    text-align: center;
    color: rgb(186, 184, 184);
    margin-top: 5px;
}
.login-box {
    background: #1c2c39;
    padding: 30px;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 15% 15% 15% 15%;
}
.login-box h2 {
    text-align: center;
    color: #b2a215;
    margin-bottom: 20px;
}
.form-control {
    background-color: hsl(198, 20%, 10%) !important;  /* inside color */
    color: white !important;                          /* text color */
    border: 2px solid hsl(198, 20%, 10%) !important;  /* border thickness */
    border-radius: 10px;
}
/* Placeholder color */
.form-control::placeholder {
    color: #cccccc;
}
/* remove blue border on focus */
.form-control:focus {
    background-color: hsl(198, 20%, 10%) !important;
    color: white !important;
    border-color: #f1c40f !important;   /* On focus yellow */
    box-shadow: none !important;
    outline: none !important;
    }
.btn-primary {
    width: 50%;
    border:2px solid rgb(216, 117, 17);
    margin: 1px 0px 0px 60px;
    font-family: cursive;
    font-size: large;
    background-color: rgb(216, 117, 17);
    color: black;
}