* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body {
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#081c24,#021014);
    padding:15px;
}

/* Glass Login Box */
.login-box {
    width:100%;
    max-width:420px;
    padding:40px 30px;
    border-radius:25px;
    text-align:center;
    color:#fff;

    background: #1c2c39;
    backdrop-filter: blur(18px);
    border:1px solid rgba(255,255,255,0.1);

    box-shadow:0 20px 40px rgba(0,0,0,0.4);
    animation:fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from{opacity:0; transform:translateY(25px);}
    to{opacity:1; transform:translateY(0);}
}

.login-box h2 {
    margin-bottom:25px;
    color:#ffd54f;
    font-family: "Brush Script MT";
}

/* Floating input group */
.mb-3 {
    position:relative;
    margin-bottom:22px;
}

.mb-3 input {
    width:100%;
    height:50px;
    padding:14px;
    border-radius:12px;
    border:none;
    outline:none;
    background:#0b1f27;
    color:#fff;
    font-size:16px;
}

/* label */
.mb-3 label {
    position:absolute;
    left:14px;
    top:15px;
    color:#ffffff;
    pointer-events:none;
    transition:0.25s;
    background:transparent;
}

/* floating animation */
.mb-3 input:focus + label,
.mb-3 input:valid + label {
    top:-8px;
    font-size:12px;
    color:#ffffff;
    background:#543306;
    padding:0 5px;
    border-radius: 5px;
}

/* focus glow */
.mb-3 input:focus {
    box-shadow:0 0 10px rgba(0,229,255,0.4);
}

/* Login Button */
.login-box button {
    width:60%;
    height:48px;
    border:none;
    border-radius:12px;
    background:#ff8c00;
    color:#000;
    font-size:20px;
    cursor:pointer;
    margin:10px auto;
    display:block;
    transition:0.25s;
}

.login-box button:hover {
    transform:scale(1.05);
    background:#ffa733;
}

.login-box p {
    margin-top:12px;
    font-size:14px;
    color:#ccc;
}

/* Mobile */
@media(max-width:480px) {
    .login-box{
        padding:30px 20px;
    }
    .login-box button{
        width:80%;
    }
}