<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

</head>
<body>
    <div class="container">
        <!-- Logout Button -->
        <a href="/logout" class="btn btn-warning logout-btn">Logout</a>

        <!-- File Explorer interface to Download and Upload data -->
        <div class="table-box">

            <h2>🗃 File Manager</h2>

            <!-- Choose file from internal storage to upload -->
            <div class="upload-box">
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="file" multiple>
                    <button class="btn btn-success" type="submit">Upload</button>
                </form>
            </div>

            <!-- Progress of downloading item -->
            <div style="margin-top:10px;">
                <progress id="downloadProgress" value="0" max="100" style="width:300px;"></progress>
                <span id="progressText">0%</span>
            </div>

            <div class="table-responsive">
                
                <!-- Header of the File Explorer -->
                <table class="table table-dark table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for folder in folders %}
                        <tr>
                            <th scope="row"></th>  
                            <td><a href="{{ url_for('dashboard', req_path=rel_path + folder) }}">📂{{ folder }}</a></td>
                            <td>----</td>
                            <td class="file-actions">
                                <a href="{{ url_for('download', filename=rel_path + folder) }}" class="btn btn-success btn-sm">Download</a>
                                <a href="{{ url_for('delete_file', filename=rel_path + folder) }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for file in files %}
                        <tr>
                            <th scope="row"><input type="checkbox" class="select-file" data-link="{{ url_for('download', filename=rel_path + file.name) }}"></th>
                            <td>{{ file.name }}</td>
                            <td>{{ file.size_str }}</td>
                            <td class="file-actions">
                                <!-- Download Button -->
                                <button class="btn btn-success btn-sm" onclick="downloadFile('{{ url_for('download', filename=rel_path + file.name) }}', '{{ file.name }}')">Download</button>
                                {% if file.size < 104857600 %}
                                <!-- View Button -->
                                <a href="{{ url_for('view_file', filename=rel_path + file.name) }}" class="btn btn-warning btn-sm">View</a>
                                {% endif %}
                                <!-- Delete Button -->
                                <a href="{{ url_for('delete_file', filename=rel_path + file.name) }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
            
            <!-- Selected files will be downloaded on one click -->
            <!-- But this will work when we allow browswer to this webserver -->
            <button class="btn btn-primary" onclick="downloadSelected()">Download Selected</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>